<div class="container">
  <div class="area">
    <div class="conclusion">
      <div class="display">{{ display }}</div>
    </div>
    <div class="numbers">
      <button mat-button (click)="sayi(1)">1</button>
      <button mat-button (click)="sayi(2)">2</button>
      <button mat-button (click)="sayi(3)">3</button>
      <button mat-button (click)="oper('-')">-</button>
      <button mat-button (click)="sayi(4)">4</button>
      <button mat-button (click)="sayi(5)">5</button>
      <button mat-button (click)="sayi(6)">6</button>
      <button mat-button (click)="oper('+')">+</button>
      <button mat-button (click)="sayi(7)">7</button>
      <button mat-button (click)="sayi(8)">8</button>
      <button mat-button (click)="sayi(9)">9</button>
      <button mat-button (click)="oper('x')">x</button>
      <button mat-button (click)="sayi(0)">0</button>
      <div class="calc">
        <button mat-button (click)="calculate()">=</button>
      </div>
      <div class="clear">
        <button mat-button (click)="sil('C')">C</button>
      </div>
      <button mat-button (click)="oper('÷')">÷</button>
    </div>
  </div>
</div>